.card {
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.116);
  border-radius: 10px;
  border: none;
}

.section-wraper {
  padding: 50px 0;
  overflow: hidden;
}

.section-wraper .section-title {
  font-size: 24px;
  font-family: 'Myriad Pro Semibold', sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: black;
}

@media screen and (max-width: 768px) {
  .section-wraper .section-title {
    text-align: center;
  }
}

.inner-title {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 50px;
  color: #839097;
}

@media screen and (max-width: 768px) {
  .inner-title {
    font-size: 30px;
    line-height: 32px;
  }
}

.inner-desc {
  letter-spacing: 0.2px;
  text-align: center;
  color: #adadad;
  font-size: 18px;
}

.color-primary {
  color: #e64b2b !important;
}

.color-secondary {
  color: #471e6a !important;
}

.border-light {
  border: 0.5px solid #e4e4e4 !important;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #e64b2b !important;
}

.price .total {
  font-size: 25px;
  margin-right: 30px;
  font-weight: 500;
}

.price .sign {
  font-size: 15px;
  font-weight: 500;
}

.img-70 {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

.container--max {
  padding: 0 80px;
}

@media screen and (max-width: 992px) {
  .container--max {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  .container--max {
    padding: 0 20px;
  }
}

.chevron-right {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chevron-left {
  height: 100% !important;
  width: 100% !important;
  background-image: url(../images/ico/chevron-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.screen-reader-response {
  display: none;
}

.font_bold {
  font-weight: bold;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}

a {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: lighter;
}

ul li {
  display: block;
  padding: 2px 0;
}

button, a[role="button"] {
  cursor: pointer !important;
}

b {
  font-weight: bold;
}

.lity {
  background-color: rgba(1, 20, 9, 0.938);
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

.form-control {
  background-color: #fffff7c4;
  height: 45px;
  border-radius: 0;
  border: none;
  color: #181818;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.form-control::placeholder {
  color: rgba(24, 24, 24, 0.76);
}

.form-control:focus, .form-control:active {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.726);
}

textarea.form-control {
  height: auto;
}

.scroll-top {
  position: absolute;
  right: 130px;
  bottom: 430px;
  width: 35px;
  height: 35px;
  background-image: url(../images/ico/scrolltop.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.scroll-top.show {
  opacity: 1;
}

.scroll-top:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.scroll-top:active, .scroll-top:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .scroll-top {
    position: fixed;
    right: 50px;
    bottom: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .scroll-top {
    right: 25px;
  }
}

.btn-transparent {
  background: none !important;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-transparent:active, .btn-transparent:focus {
  border: none;
  outline: none;
}

.btn-flag {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-flag:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .btn-flag {
    width: 20px;
    height: 20px;
    margin-top: 6px;
  }
}

.btn-flag--pt {
  background-image: url(../images/flags/pt.png);
}

.btn-flag--ing {
  background-image: url(../images/flags/ing.png);
}

.btn-primary {
  min-height: 40px;
  background-color: #f5ebd0 !important;
  border: 1px solid #b57b30;
  color: black;
  font-family: 'Myriad Pro Bold';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #e4dabe;
  color: black;
}

.btn-default {
  min-height: 40px;
  background-color: #dbdbdb !important;
  border: 1px solid #b57b30;
  color: black;
  font-family: 'Myriad Pro Bold';
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default:hover {
  background-color: #e4dabe;
  color: black;
}

.modal-content {
  border: 0;
}

.modal-dialog {
  border-radius: 5px;
  background-color: #f8f8f8;
  border: 2px solid #471e6a;
}

.modal-header {
  background-color: transparent;
}

.modal-body {
  background-color: #f8f8f8;
  padding: 40px;
}

.modal-body .inner-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .2px;
  font-size: 20px;
  text-align: center;
  color: #471e6a;
}

.modal-body .inner-desc {
  color: #471e6a;
  font-size: 17px;
}

.shape-parallax:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.shape1 {
  position: absolute;
  right: -170px;
  width: 460px;
  height: 460px;
}

@media screen and (max-width: 576px) {
  .shape1 {
    right: -40px;
    width: 150px;
    height: 150px;
  }
}

.shape1::after {
  content: '';
  position: absolute;
  background-image: url(../images/backgrounds/shape1.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  -moz-animation: float 4s ease-in-out infinite;
  -webkit-animation: float 4s ease-in-out infinite;
  animation: float 4s ease-in-out infinite;
}

.shape6 {
  position: absolute;
  right: 280px;
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 992px) {
  .shape6 {
    display: none;
  }
}

.shape6:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  background-position: center;
  -moz-animation: float 3s ease-in-out infinite;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.shape2 {
  position: absolute;
  left: -200px;
  width: 500px;
  height: 500px;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .shape2 {
    width: 300px;
    height: 300px;
    left: -60px;
  }
}

.shape2::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

.shape5 {
  position: absolute;
  left: 30px;
  width: 280px;
  height: 280px;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .shape5 {
    left: -40px;
    width: 230px;
    height: 230px;
  }
}

.shape5::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

.shape3 {
  content: '';
  position: absolute;
  left: -110px;
  top: -160px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 992px) {
  .shape3 {
    width: 200px;
    height: 200px;
    left: -100px;
    top: -140px;
  }
}

.shape3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 2.8s ease-in-out infinite;
  -webkit-animation: float 2.8s ease-in-out infinite;
  animation: float 2.8s ease-in-out infinite;
}

.shape4 {
  content: '';
  position: absolute;
  right: -60px;
  bottom: -230px;
  width: 350px;
  height: 350px;
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .shape4 {
    width: 250px;
    height: 250px;
    bottom: -130px;
  }
}

.shape4::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 3s ease-in-out infinite;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
}

.shape5 {
  position: absolute;
  left: 30px;
  top: -140px;
  width: 280px;
  height: 280px;
  z-index: 3;
}

@media screen and (max-width: 576px) {
  .shape5 {
    left: -40px;
    top: -120px;
    width: 230px;
    height: 230px;
  }
}

.shape5::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

.shape3 {
  content: '';
  position: absolute;
  left: -110px;
  top: -160px;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 992px) {
  .shape3 {
    width: 200px;
    height: 200px;
    left: -100px;
    top: -140px;
  }
}

.shape3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 2.8s ease-in-out infinite;
  -webkit-animation: float 2.8s ease-in-out infinite;
  animation: float 2.8s ease-in-out infinite;
}

.shape7 {
  position: absolute;
  left: -60px;
  width: 300px;
  height: 300px;
  z-index: 4;
}

@media screen and (max-width: 576px) {
  .shape7 {
    left: -40px;
    width: 230px;
    height: 230px;
  }
}

.shape7::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 6s ease-in-out infinite;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}

.shape8 {
  content: '';
  position: absolute;
  right: -80px;
  width: 250px;
  height: 250px;
  z-index: 4;
}

@media screen and (max-width: 992px) {
  .shape8 {
    width: 200px;
    height: 200px;
    right: -100px;
  }
}

.shape8::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/backgrounds/shape1.png);
  background-size: contain;
  -moz-animation: float 2.8s ease-in-out infinite;
  -webkit-animation: float 2.8s ease-in-out infinite;
  animation: float 2.8s ease-in-out infinite;
}

.home {
  position: relative;
  padding: 60px 0 100px 0;
  background-image: url(../images/backgrounds/bghome.png);
  background-size: 100% 100%;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .home {
    padding-top: 30px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.home__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 70%;
}

@media screen and (max-width: 1200px) {
  .home__caption {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .home__caption {
    padding-left: 80px;
  }
}

.home__caption__title {
  font-size: 36px;
  font-weight: bold;
  color: #e64b2b;
  text-align: center;
}

.home__caption__title span {
  display: block;
}

.home__caption__desc {
  text-align: center;
  color: rgba(255, 255, 255, 0.897);
  font-size: 17px;
  letter-spacing: .4px;
}

.home__hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -50px;
}

.home__hero img {
  width: 550px;
}

@media screen and (max-width: 992px) {
  .home__hero img {
    width: 300px;
    margin-right: -40px;
    margin-bottom: -20px;
  }
}

.differentials {
  padding: 30px 0;
  margin-top: 30px;
}

.differentials__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .differentials__item {
    flex-direction: column;
  }
}

.differentials__item:not(:last-child) {
  margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .differentials__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

.differentials__item__hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 300px;
  width: 53%;
  border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 992px) {
  .differentials__item__hero {
    align-self: flex-start;
    width: 96%;
  }
}

.differentials__item__hero img,
.differentials__item__hero video {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.differentials__item__hero.right {
  border-radius: 20px 0 0 20px;
}

@media screen and (max-width: 992px) {
  .differentials__item__hero.right {
    align-self: flex-end;
    order: -1;
  }
}

.differentials__item__caption {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  padding-left: 160px;
  height: 300px;
  width: 53%;
  margin-right: -5%;
  border-radius: 20px;
  transform: translate(-30px, 40px);
  box-shadow: 20px 23px 60px rgba(2, 2, 2, 0.216);
  z-index: 3;
  background: linear-gradient(to right, #ca5292, #e64b2b, transparent) border-box;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption {
    width: 96%;
    margin-right: -12%;
    align-self: flex-end;
    transform: translate(-20px, -40px);
  }
}

@media screen and (max-width: 576px) {
  .differentials__item__caption {
    height: auto;
    min-height: 300px;
    padding-left: 77px;
  }
}

.differentials__item__caption:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 1.7px;
  border-radius: inherit;
  width: 99%;
  height: 99%;
  z-index: -1;
  background-color: #e6e6e6;
}

.differentials__item__caption__caption {
  text-align: center;
  width: 60%;
  color: #471e6a;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption__caption {
    width: 90%;
    padding: 30px 0;
    margin-top: 40px;
  }
}

.differentials__item__caption__caption__title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 4px;
}

@media screen and (max-width: 576px) {
  .differentials__item__caption__caption__title {
    font-size: 15px;
  }
}

.differentials__item__caption__caption__desc {
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .differentials__item__caption__caption__desc {
    font-size: 13px;
  }
}

.differentials__item__caption__time {
  position: absolute;
  left: -230px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: bold;
  font-size: 70px;
  padding-right: 90px;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption__time {
    top: -36px;
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .differentials__item__caption__time {
    font-size: 40px;
    top: -30px;
    left: 2%;
  }
}

.differentials__item__caption__time span:not(.count) {
  font-size: 46px;
}

@media screen and (max-width: 576px) {
  .differentials__item__caption__time span:not(.count) {
    font-size: 20px;
  }
}

.differentials__item__caption__icon {
  position: absolute;
  left: -70px;
  top: 50%;
  width: 140px;
  height: 140px;
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .differentials__item__caption__icon {
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.differentials__item__caption.left {
  justify-content: flex-end;
  transform: translate(30px, 40px);
  padding-right: 160px;
  padding-left: 10px;
  margin-right: 0;
  margin-left: -5%;
  border-radius: 0 20px 20px 0;
  border-left: none;
  background: linear-gradient(to left, #ca5292, #e64b2b, transparent) border-box;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption.left {
    transform: translate(30px, -40px);
    align-self: flex-start;
    margin-left: -12%;
    padding-right: 77px;
  }
}

.differentials__item__caption.left:after {
  left: 0.8%;
  right: unset;
}

@media screen and (max-width: 768px) {
  .differentials__item__caption.left:after {
    top: 2px;
    left: 2.5px;
  }
}

.differentials__item__caption.left .differentials__item__caption__icon {
  right: -70px;
  left: unset;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption.left .differentials__item__caption__icon {
    left: 50%;
    top: -65px;
  }
}

.differentials__item__caption.left .differentials__item__caption__time {
  right: -320px;
  left: unset;
}

@media screen and (max-width: 992px) {
  .differentials__item__caption.left .differentials__item__caption__time {
    right: -10%;
  }
}

@media screen and (max-width: 576px) {
  .differentials__item__caption.left .differentials__item__caption__time {
    right: -20%;
  }
}

@media screen and (max-width: 360px) {
  .differentials__item__caption.left .differentials__item__caption__time {
    right: -30%;
  }
}

.steps {
  position: relative;
  padding: 30px 0;
  background-image: url(../images/backgrounds/bgsteps.png);
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .steps::after {
    left: -170px;
  }
}

.steps__caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps__caption__title {
  font-size: 15px;
  color: #471e6a;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .steps__caption__title {
    font-size: 14px;
  }
}

.steps__caption__title span {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-top: -6px;
  color: #e64b2b;
}

@media screen and (max-width: 992px) {
  .steps__caption__title span {
    font-size: 23px;
  }
}

.steps__video {
  border: 10px solid #471e6a;
  border-radius: 13px;
  background-color: #fff;
  width: 80%;
  height: 80vh;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 20px 23px 50px rgba(2, 2, 2, 0.11);
}

@media screen and (max-width: 992px) {
  .steps__video {
    width: 95%;
  }
}

.steps__video iframe {
  width: 100%;
  height: 100%;
}

.contact {
  position: relative;
  padding: 60px 0 20px 0;
  background-image: url(../images/backgrounds/bgcontact.png);
  background-size: 100% 100%;
}

@media screen and (max-width: 992px) {
  .contact {
    padding: 30px 0;
    background-size: cover;
    background-position: 85%;
  }
}

.contact__caption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__caption__title {
  font-size: 16px;
  color: #471e6a;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 992px) {
  .contact__caption__title {
    font-size: 14px;
  }
}

.contact__caption__title span {
  display: block;
  padding: 3px 0;
  font-size: 35px;
  font-weight: bold;
  margin-top: -6px;
  color: #e64b2b;
}

@media screen and (max-width: 992px) {
  .contact__caption__title span {
    font-size: 23px;
  }
}

.contact__box {
  position: relative;
  border: 10px solid #471e6a;
  border-radius: 13px;
  background-color: #e6e6e6;
  width: 80%;
  height: 55vh;
  overflow: hidden;
  margin: 20px 0;
  overflow: visible;
  box-shadow: 20px 23px 50px rgba(2, 2, 2, 0.11);
}

@media screen and (max-width: 576px) {
  .contact__box {
    height: 65vh;
  }
}

@media screen and (max-width: 992px) {
  .contact__box {
    width: 95%;
  }
}

.contact__box__submit {
  position: absolute;
  bottom: -120px;
  right: -50px;
  width: 200px;
  height: 200px;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact__box__submit:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.contact__box__submit:focus {
  outline: none;
}

.contact__box__submit::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/ico/sendbtn.png");
  background-size: contain;
  background-position: center center;
  -moz-animation: float 8s ease-in-out infinite;
  -webkit-animation: float 8s ease-in-out infinite;
  animation: float 8s ease-in-out infinite;
}

.contact__box form {
  height: 100%;
  width: 100%;
}

.contact__box textarea {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  color: #471e6a;
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 10px 0;
}

.footer__brand {
  width: 200px;
}

body {
  position: relative;
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  overflow-x: hidden;
}

/*# sourceMappingURL=maps/style.css.map */
