.contact {
    position: relative;
    padding: 60px 0 20px 0;
    background-image: url(../images/backgrounds/bgcontact.png);
    background-size: 100% 100%;

    @media screen and (max-width: $bp-LG) {
        padding: 30px 0;
        background-size: cover;
        background-position: 85%;
    }

    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 16px;
            color: $color-secondary;
            text-align: center;
            width: 70%;

            @media screen and (max-width: $bp-LG) {
                font-size: 14px;
            }

            span {
                display: block;
                padding: 3px 0;
                font-size: 35px;
                font-weight: bold;
                margin-top: -6px;
                color: $color-primary;

                @media screen and (max-width: $bp-LG) {
                    font-size: 23px;
                }
            }
        }
    }

    &__box {
        position: relative;
        border: 10px solid $color-secondary;
        border-radius: 13px;
        background-color: #e6e6e6;
        width: 80%;
        height: 55vh;
        overflow: hidden;
        margin: 20px 0;
        overflow: visible;
        box-shadow: 20px 23px 50px rgba(2, 2, 2, 0.11);

        @media screen and (max-width: $bp-SM) {
            height: 65vh;
        }

        @media screen and (max-width: $bp-LG) {
            width: 95%;
        }

        &__submit {
            position: absolute;
            bottom: -120px;
            right: -50px;
            width: 200px;
            height: 200px;
            border: none;
            background-color: transparent;
            @include transition(0.3s);

            &:hover {
                @include scale(1.05);
            }

            &:focus{
                outline: none;
            }

            &::after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url('../images/ico/sendbtn.png');
                background-size: contain;
                background-position: center center;
                -moz-animation: float 8s ease-in-out infinite;
                -webkit-animation: float 8s ease-in-out infinite;
                animation: float 8s ease-in-out infinite;
            }
        }

        form {
            height: 100%;
            width: 100%;
        }

        textarea {
            width: 100%;
            height: 100%;
            padding: 30px 40px;
            color: $color-secondary;
            background-color: transparent;
        }
    }
}