.home {
    position: relative;
    padding: 60px 0 100px 0;
    background-image: url(../images/backgrounds/bghome.png);
    background-size: 100% 100%;
    overflow: hidden;

    @media screen and (max-width: $bp-LG) {
        padding-top: 30px;
        background-size: cover;
        background-position: 50% 50%;
    }

    .shape1 {
        content: '';
        position: absolute;
        right: -170px;
        top: -140px;
        width: 460px;
        height: 460px;
        background-image: url(../images/backgrounds/shape1.png);
        background-size: contain;
        background-position: center;

        @media screen and (max-width: $bp-SM){
            right: -40px;
            top: -30px;
            width: 150px;
            height: 150px;
        }
    }

    & > .shape2 {
        content: '';
        position: absolute;
        right: 280px;
        top: -190px;
        width: 350px;
        height: 350px;
        background-image: url(../images/backgrounds/shape1.png);
        background-size: contain;
        background-position: center;

        @media screen and (max-width: $bp-LG){
            display: none;
        }
    }

    &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-width: 70%;

        @media screen and (max-width: $bp-XL) {
            max-width: 100%;
        }

        @media screen and (min-width: $bp-LG) and (max-width: $bp-XL) {
            padding-left: 80px;
        }

        &__title {
            font-size: 36px;
            font-weight: bold;
            color: #e64b2b;
            text-align: center;

            span {
                display: block;
            }
        }

        &__desc {
            text-align: center;
            color: rgba(255, 255, 255, 0.897);
            font-size: 17px;
            letter-spacing: .4px;
        }
    }

    &__hero {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -50px;

        img {
            width: 550px;

            @media screen and (max-width: $bp-LG) {
                width: 300px;
                margin-right: -40px;
                margin-bottom: -20px;
            }
        }

        .shape2 {
            content: '';
            position: absolute;
            left: -200px;
            top: -200px;
            background-image: url(../images/backgrounds/shape1.png);
            width: 500px;
            height: 500px;
            z-index: 2;
            background-size: contain;

            @media screen and (max-width: $bp-LG) {
                width: 300px;
                height: 300px;
                top: -140px;
                left: -60px;
            }
        }
    }
}